<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/foundation.css' />
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<h1><%= title %></h1>
<table border=1px>
    <tr valign="top" align="left">
        <td>
<form action="" method="POST">
    <div style="margin-left:10px;padding-left: 10px">
        <div class="scrollBox">
            <ul>
                <% if(typeof payload !== 'undefined' && payload !== '') { %>
                <% payload.forEach(function(pay) { %>
                <ul><input name="<%= pay.login %>" id="<%= pay.login %>" type="checkbox" value="1"></input><label for="<%= pay.login %>"></label><%= pay.login %></ul>
                <% }); } %>
            </ul>
        </div>

        <p></p>

        <!-- use button tag for on page actions -->
        <p align="left">
            <button type="submit" formaction="activeUser" class="hollow button small" name="lock" value="1"><h5>Lock Account</h5></button>
            <button type="submit" formaction="emailUser" class="hollow button small" name="email" value="1"><h5>Send Email</h5></button>
            <button type="submit" formaction="showUser" class="hollow button small" name="show" value="1"><h5>Show User</h5></button>
        </p>

    </div>
</form>
        </td>
        <td align="left">

            <div style="margin-left:10px;padding-left: 10px">
                <div class="scrollBox">

                    Hello Alan
                    <ul>
                        <% if(typeof userinfo !== 'undefined' && userinfo !== '') { %>
                        <% userinfo.forEach(function(ui) { %>
                        LOGIN:<%= ui.login %> PASSWORD:<%= ui.password %> SECRET:<%= ui.secretword %>
                        <% }); } %>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
</table>

</body>

<footer>
    <% include ../partials/footer %>
</footer>
</html>
