<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css'/>
    <link rel='stylesheet' href='./stylesheets/foundation.css'/>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<h1><%= title %></h1>
<p><%= message %></p>
<form action="notifiedUser" method="POST">
    <div style="margin-left:10px;padding-left: 10px">
        <div class="scrollBox">
            <ul>
                <% if(payload != "") { %>
                <% payload.forEach(function(pay) { %>
                <ul><input name="<%= pay.login %>" id="<%= pay.login %>" type="checkbox" value="1"></input><label for="<%= pay.login %>"></label><%= pay.login %></ul>
                <% }); } %>
            </ul>
        </div>

        <p></p>

        <!-- use button tag for on page actions -->
        <p align="left">

        </p>
    </div>
</form>

</body>

<footer>

    <% include ../partials/footer %>
</footer>

</html>

