<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/foundation.css' />
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<h1><%= title %></h1>
<p><%= message %></p>
<form action="pendingUser" method="POST">
<div style="margin-left:6px;padding-left: 6px">
<div data-closable="fade-out" class="todo-list-card card">

    <div class="card-section" name="plist">
        <ul>
            <%payload.forEach(function(pay) {%>
            <li><input name="<%= pay.login %>" id="<%= pay.login %>" type="checkbox" value="1"></input><label for="<%= pay.login %>"></label><%= pay.login %></li>
            <%});%>

        </ul>
    </div>

    <!-- use button tag for on page actions -->
    <p align="center">

    <div class="row expanded">
        <div class="large-3 large-offset-3 columns">
            <button class="hollow button small" type="submit" name="approve" value="1"><h5>Approve</h5></button>
            <button class="hollow button small" type="submit" name="reject" value="1"><h5>Reject</h5></button>
        </div>
    </div>
    </p>
</div>
</div>
</form>

<!--
        <a class="button button-rounded-hover" href="">Approve</a>
        <a class="button button-rounded-hover" href="#2">Reject</a>
<div class="portfolio-resume-scrolling-container row">
    <div class="columns small-12 medium-5 portfolio-resume-overview">
        <div class="portfolio-resume-overview-content">
            <h3 class="portfolio-resume-name">Name</h3>
            <p>I'm kind of awesome. No really.</p>
            <a class="button primary expanded" href="#">Contact Me</a>
        </div>
    </div>
    <div class="columns small-12 medium-7 portfolio-resume-scrolling">
        <h3>Pending Appoval</h3>
        <ul class="portfolio-resume-side-list">
            <% payload.forEach(function(pay) { %>
            <li><input id="<%= pay.login %>" type="checkbox"></input><label for="<%= pay.login %>"></label><%= pay.login %></li>
            <% }); %>

        </ul>
    </div>
</div>
-->




</body>

<footer>

    <% include ../partials/footer %>
</footer>

</html>
