<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/foundation.css'/>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<h1><%= title %></h1>

<form action="rejectUser" method="POST">
    <div data-closable="fade-out" class="todo-list-card card">
        <div class="card-section">
            <ul>
                <% if(payload != "") { %>
                <% payload.forEach(function(pay) { %>
                <li><input name="<%= pay.login %>" id="<%= pay.login %>" type="checkbox" value="1"></input><label for="<%= pay.login %>"></label><%= pay.login %></li>
                <% }); } %>

            </ul>
        </div>

        <!-- use button tag for on page actions -->
        <p align="center">

        <div class="row expanded">
            <div class="large-3 large-offset-3 columns">
                <button type="submit" class="hollow button small" name="delete" value="1"><h5>Delete</h5></button>
                <button type="submit" class="hollow button small" name="reset" value="1"><h5>Reset</h5></button>
            </div>
        </div>
        </p>
    </div>

</form>

</body>

<footer>
    <% include ../partials/footer %>
</footer>
</html>
